.vscode
.idea
__pycache__
*.log
*.iml
test
config.yml
docker-compose-test.yml
Pipfile*
.DS_Store
.venv*
venv*
venv_*
.temp_venv
black
*.key
*.crt
.env
.pytest_cache
/myenv
/lib
/lib64
/bin
pyvenv.cfg
/external-import/import-app-table-data/env
/external-import/import-app-table-data/src/env
/external-import/import-catalog-data/env
/external-import/import-catalog-data/src/env
